body{
    background-image: url(assets/wallpaper2.jpg);
}

/*importando a fonte Poppins*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*estilizando a section principal*/
.main-section{
    height: 900px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 15px;
    margin-left: 630px;
    margin-top: 25px;
}

/*estilizando o texto principal*/
.main-text{
    font-family: Poppins;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 4px black;
    margin-left: 155px;
    padding-top: 20px;
    font-size: 30px;
}

.main-hr{
    width: 85%;
}

.input-text{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    padding-left: 50px;
    padding-top: 20px;
    font-size: 18px;
}

.main-input, .input-senha{
    padding-left: 2%px;
    margin-left: 40px;
    font-family: Poppins;
    border-radius: 15px;
    border: white;
    margin-bottom: 10px;
    padding-left: 17px;
    margin-top: -10px;
    width:  500px;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black;
    border: 2px solid rgb(223, 223, 223);
    color: rgb(223, 223, 223);
}

.input-senha, .input-senha::placeholder{
    margin-top: 7px;
    color: rgb(165, 165, 165);
}