body{
    background-image: url(assets/wallpaper2.jpg);
}

/*importando a fonte Poppins*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*estilizando a section principal*/
.main-section{
    height: 900px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 15px;
    margin-left: 630px;
    margin-top: 25px;
}

/*estilizando o texto principal*/
.main-text{
    font-family: Poppins;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 4px black;
    margin-left: 155px;
    padding-top: 20px;
    font-size: 30px;
}

.main-hr{
    width: 85%;
}

.input-text{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    padding-left: 50px;
    padding-top: 20px;
    font-size: 18px;
}

.main-input, .input-senha{
    padding-left: 2%px;
    margin-left: 40px;
    font-family: Poppins;
    border-radius: 15px;
    border: white;
    margin-bottom: 10px;
    padding-left: 17px;
    margin-top: -10px;
    width:  500px;
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black;
    border: 2px solid rgb(223, 223, 223);
    color: rgb(223, 223, 223);
}

.input-senha, .input-senha::placeholder{
    margin-top: 7px;
    color: rgb(165, 165, 165);
}

/*estilizando o botão*/
.inputNome{
    width: 490px;
    border-radius: 15px;
    height: 25px;
    background-color: black;
    border: 2px solid rgb(223, 223, 223);
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: -10px;
    padding-left: 2%;
}

.main-button{
    font-family: Poppins;
    font-size: 24px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.500);
    margin-left: 210px;
    margin-top: 30px;
}

.main-button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.main-button:hover,
button:focus {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.main-button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.main-button:active {
    transform: scale(0.9);
}

.text-login{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: 20px;
    font-size: 16px;
    margin-left: 90px;
}

.link-login{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: 20px;
    font-size: 16px;
}