/*definindo o background do site*/
body {
    background-image: url(assets/wallpaper2.jpg);
    
}

/*importando fonte 'Poppins'*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*estilizando a section*/
.main-section {
    justify-content: center;
    align-items: top;
    height: 450px;
    width: 1000px;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 200px;
}

/*modificando a imagem da classe*/
.img-login img {
    max-width:500px;
    max-height:300px;
    width: auto;
    height: auto;
    padding-left: 6%;
    padding-top: 7%;
}

/*watilizando a div da divisória*/
.divisoria{
    height: 400px;
    width: 3px;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    margin-left: 40%;
    margin-top: -35%
}

/* estilizando o principal texto da página*/
.main-title{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    padding-left: 32%;
    margin-top: -280px;
}

.login-contents{
    width: 500px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

/*formatando os inputs*/
.main-inputs{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    font-size: 12px;
    padding-left: 2%;
}

/*formatando o link para página de cadastro*/

.link-cadastro{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: 20px;
    padding-left: 1%;
    font-size: 12px;
}

.text-cadastro{
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: 20px;
    padding-left: 25%;
    font-size: 12px;
}

/*estilizando o botão*/
.inputNome{
    width: 490px;
    border-radius: 15px;
    height: 25px;
    background-color: black;
    border: 2px solid rgb(223, 223, 223);
    font-family: Poppins;
    color: rgb(223, 223, 223);
    margin-top: -10px;
    padding-left: 2%;
}

.iputBtn{
    font-family: Poppins;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.500);
    margin-left: 40%;
}

.iputBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #ffffff;
    z-index: -1;
}

.iputBtn:hover,
button:focus {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.iputBtn:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.iputBtn:active {
    transform: scale(0.9);
}

