body{
    background-image: url(assets/mainwallpaper.jpg);
}

.form-label{
    color: aliceblue;
}

/*importando a fonte 'Poppins'*/
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }